{
    "bootstrap":"./tests/bootstrap.php",
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true
    },
    "logs": {
        "html": "infection.html",
        "text": "infection-log.txt"
    },
    "minMsi": 0,
    "minCoveredMsi": 0
}
