includes:
    - phpstan-extension.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/phpstan
        - %currentWorkingDirectory%/tests
